*~
*.bak
1column
AJOKE*
AURNplots
Bachok*
beijingplots*
Beijing_test*
Capeverde*
CHINA*
CONFIG
CSV_output
CV_plots
CV_shape_files
Final*
HALLEY
Halley_reproj
KATIE_ELEVATED
Leicester_1day*
LIST
malaysia*
Malaysia*
MG_check
NAME_data
*NAME_output
namereader/orig
old
Paul_Herenz*
Paul_Antarctica*
*.pkl
PLOTS
PML*
*.pyc
sample.shp
SHAPE_FILES
testplot*
venv.geo
venv.geo2
virtualenv*
WAO*
Weybourne*
