# Author: Duncan Law-Green (dlg@kyubi.co.uk)

# Configuration options for NAME plotting 'plotter.py'

# input file paths
shapelist = '/foo/bar/baz'  # Text file containing list of shapefiles
infile = ''  # Single input NAME file
indir = ''  # Directory containing input NAME files

# secondary input path
# infile2 = ''   # Optional second input NAME file
# indir2 = ''    # Optional second directory containing input NAME files

# time select
timestamp = ''  # Plot data for given timestamp
day = ''   # Plot data summed for given day
week = ''   # Plot data summed for given week
month = ''   # Plot data summed for given month
year = ''    # Plot data summed for given year

# map geometry
projection = ''  # Map projection
lon_bounds = ''  # (Long_min, Long_max) tuple: Longitude bounds of plot
lat_bounds = '' # (Lat_min, Lat_max) tuple: Latitude bounds of plot
lon_axis = ''  # (Lon1, Lon2, Lon3...) tuple: Lon scale tickmarks
lat_axis = ''  # (Lat1, Lat2, Lat3...) tuple: Lat scale tickmarks

# map colour
scale = '' # (Min, Max) scale tuple for plotting values, default is autoscale

colormap = ''  # Colourmap name

# solid = ''  # Set solid flag
# color1 = ''   # Solid colour for dataset 1
# color2 = ''   # Solid colour for dataset 2

# map labelling
station = ''  # (Lon, Lat) tuple containing Station coordinates     
caption = ''  # Primary caption for output plot

# output file
outfile = ''  # Output plot file name root

# ------------------------------------       